*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'IBM Plex Mono', monospace;
}

:root{
    --primary-color: #8ac926;
    --disabled: #44660d;
    --text: #3C434A;
}

/* Removing arrows on type number input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


p{
    color: var(--text);
}

main.main-container{
    width: 94%;
    margin: 0 auto;
}

/* Components */

.btn{
    background-color: var(--primary-color);
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600; 
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
}

.btn:hover{
    background-color: var(--disabled);
}

.btn.disabled{
    background-color: var(--disabled);
    pointer-events: none;
    cursor: not-allowed;
}

a.link{
    color: steelblue;
}

/* Nav bar */


.nav{
    height: 9vh;
    border-bottom: 1px solid #999;
    display: flex;
    align-items: center;
}

.nav > div{
    width: 90%;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 0 20px;
}


/* Hero */

.hero-desc{
    /* width: 90%;
    margin: 10px auto; */
    display: flex;
    min-height: 320px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.hero-desc h1{
    margin-bottom: 10px;
}

.hero-desc h1 .underline{
    position: relative;
    /* padding-bottom: 4px; */
}

.hero-desc h1 .underline:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
}


.hero-desc p{
    margin: 10px 0;
}

.hero-desc #main-create-btn{
    margin-top: 30px;
}

.hero-desc .small{
    font-size: 0.8rem;
    margin-top: 2px;
}

.device{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device{
    width: 320px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 4px;
}

.device .screen{
    background-color: #f9f9f9;
}

.device .screen .display{
    padding: 30px 4px; 
}

.device .screen .display .banner-area{
    background-color: #fff;
    padding: 30px 20px;
}

.device .screen .display .banner-area .restaurant-name{
    text-align: center;
}

.device .screen .display .menu-area{
    padding: 20px 30px;
}

.device .screen .display .name-price{
    display: flex;
    justify-content: space-between;

}

.device .screen .display .menu-preview{
    width: 100%;
    margin: 10px auto;
}

.device .screen .display .menu-preview .category-heading{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    color: #111;
}

.device .screen .display .menu-food-title, .menu-food-price{
    color: #808080;
}

.device .screen .display .menu-food-price{
    font-weight: 900;
}

.device .screen .display .menu-food-desc{
    color: #808080e8;
    padding: 5px 0;
}

/* Features */
.features-container{
    width: 94%;
    margin: 0 auto;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-grid{
    margin: 1.4rem 0;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.feature-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
    align-items: center;
    border-radius: 4px;
    height: 400px;
    background: #c8c8db63;
}

.feature-item{
    text-align: center;
}

.feature-item i{
    font-size: 2rem;
}

span.icon{
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;
    display: inline-block;
}

span.icon i{
    color: var(--primary-color);
}

span.icon-rounded{
    background-color: #d9f3ae8c;
    border-radius: 50%;
    padding: 10px 14px;
    display: inline-block;
}

span.icon-rounded i{
    color: var(--primary-color);
}

.features-container .non-features li {
    padding: 3px 0;
}



/* Core Features */
.core-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.core-features p{
    padding: 8px 0;
}

.core-features .header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.core-features .core-features-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.core-features .core-features-container .core-feature{
    padding: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.core-features .core-features-container .core-feature{}

.create-menu-item img{
    width: 100%;
    box-shadow: 4px 4px rgba(124, 123, 123, 0.822);
    border-radius: 6px;
}


/* Sign Up Page */
input, textarea,select{
    padding: 2px 4px;
    height: 40px;
    border: 1px solid rgb(102, 75, 75);
    border-radius: 4px;
    font-size: 20px;
}

select{
    background: #fff;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
}

.fields .intro{
    padding: 0 30px;
}

.login-form{
    background-color: #fff;
    padding: 20px 50px;
    /* border: 1px solid rgba(31, 31, 31, 0.278); */
    width: 100%;
}

.login-form .btn.btn-block{
    margin: 10px 0; 
}

.form-group{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.form-group label{
    font-size: 1.2rem;
    padding: 6px 0;
}






/* Sign Up Page */



/* Footer */

footer{
    /* position: fixed;
    bottom: 0; */
    height: 9vh;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Footer */


/* Laptops */

@media  (min-width: 769px) {
    /* Register Page */
    .fields{
        width: 700px;
        margin: 20px auto;
    }
    
    .fields .intro{
        padding: 0;
    }
}




/* Ipads || Tablets */

@media (min-width: 481px) and (max-width: 768px){
    /* Register Page */
    .fields{
        width: 500px;
        margin: 20px auto;
    }
    
    .fields .intro{
        padding: 0;
    }
}